{% extends 'ohmyadmin/layout/app.html' %}
{% import 'ohmyadmin/ui/buttons.html' as buttons %}

{% block page_heading %}
    {{ resource.title_plural }}
{% endblock %}

{% block page_actions %}
    {{ buttons.primary_link_button('Create', create_object_url, 'plus') }}
{% endblock %}

{% block content %}
    {#    {% include 'ohmyadmin/resources/breadcrumbs.html' %}#}
    {#    {% include 'ohmyadmin/resources/page_toolbar.html' %}#}
    {#    {% include 'ohmyadmin/resources/metrics_panel.html' %}#}

    <div class="align-middle inline-block min-w-full border-gray-200">

        <div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
            {% include 'ohmyadmin/resources/page_search_form.html' %}
            {% include 'ohmyadmin/resources/filters_bar.html' %}
        </div>

        {% include 'ohmyadmin/resources/resource_table.html' %}
        {% include 'ohmyadmin/resources/pagination.html' %}
    </div>
{% endblock %}
