{% extends 'ohmyadmin/layout/app.html' %}
{% import 'ohmyadmin/ui/buttons.html' as buttons %}

{% block page_heading %}
    {% with resource_name = resource.title|lower %}
        {% trans %}Update {{ resource_name }} {% endtrans %}
    {% endwith %}
{% endblock %}

{% block page_actions %}
    {{ buttons.danger_link_button(_('Delete'), delete_object_url(object)) }}
{% endblock %}

{% block content %}
    <form method="post" class="align-middle inline-block min-w-full">
        {{ form_layout(request) }}

        <div class="mt-6 flex items-center justify-between">
            <div class="flex items-center gap-2">
                {{ buttons.primary_button(_('Save'), name='_save') }}
                {{ buttons.button(_('Save and return to list'), name='_return') }}
            </div>
            <div>
                {{ buttons.link_button(_('Cancel'), list_objects_url) }}
            </div>
        </div>
    </form>
{% endblock %}
