{% extends 'ohmyadmin/modal_action.html' %}
{% import 'ohmyadmin/lib/buttons.html' as buttons %}

{% block title %}
    {% trans label=action.label %}Run {{ label }} action?{% endtrans %}
{% endblock %}

{% block content %}
    {% if action.confirmation %}
        <p class="text-sm text-gray-500">
            {{ action.confirmation }}
        </p>
    {% endif %}
    {% if form %}
        <div class="mt-6">{{ form }}</div>
    {% endif %}
{% endblock %}

{% block actions %}
    {{ buttons.button(_('Run action'), type='submit', color='danger' if action.dangerous else 'primary') }}
    {{ buttons.button(_('Cancel'), type='button', attrs={'@click': 'openBatchModal = false'}) }}
{% endblock %}
