{% import 'ohmyadmin/forms.html' as forms %}
{% import 'ohmyadmin/components.html' as components %}
{% set button_class = 'danger' if action.dangerous else 'accent' %}

<dialog class="modal" data-autoopen hx-swap="outerHTML" hx-target="this">
    <form class="modal-dialog">
        <header>{{ action.modal_title or action.label }}</header>
        <main>
            {% if action.modal_description %}
                <p>{{ action.modal_description }}</p>
            {% endif %}
            {{ components.render_component(request, form_view) }}
        </main>
        <footer>
            <button type="submit" class="btn btn-{{ button_class }}" hx-post="{{ request.url }}">
                {{ action.ok_button_label }}
            </button>
            <button type="button" @click="ohmyadmin.modals.closeActive;" class="btn btn-text">
                {{ action.cancel_button_label }}
            </button>
        </footer>
    </form>
</dialog>
