<!-- group -->
<section class="mb-5 col-span-{{ component.colspan }}">
    {% if component.label %}
        <header class="mb-3">
            <div class="font-medium text-lg">{{ component.label }}</div>
            {% if component.description %}
                <div class="text-gray-600">{{ component.description }}</div>
            {% endif %}
        </header>
    {% endif %}
    <main class="space-y-{{ component.gap }}">
        {% for child in component.children %}
            {{ child.render(request) }}
        {% endfor %}
    </main>
</section>
<!-- end group -->
