<!-- group -->
<section class="mt-4 col-span-{{ layout.colspan }}">
    {% if layout.label %}
        <header class="mb-3">
            <div class="font-medium text-lg">{{ layout.label }}</div>
            {% if layout.description %}
                <div class="text-gray-600">{{ layout.description }}</div>
            {% endif %}
        </header>
    {% endif %}
    <main>
        {% for child in layout.children %}
            {{ child.render(request) }}
        {% endfor %}
    </main>
</section>
<!-- end group -->
