{% import 'ohmyadmin/icons.html' as icons %}

{% macro list_item(field) %}
    <div class="flex items-center gap-5 bg-gray-50 p-2" x-show="!deleted" x-data="{deleted: false}">
        <div class="flex-grow-1 w-full">
            {{ builder(field).render(request) }}
            <template x-if="deleted">
                <input type="hidden" name="{{ field.name }}-delete" value="1">
            </template>
        </div>
        <button type="button" class="btn btn-icon btn-text flex-grow-0" @click="deleted = true">
            {{ icons.trash() }}
        </button>
    </div>
{% endmacro %}

<div class="space-y-3" x-data="{counter: 0, offset: 1 + {{ field|length }} }">
    <div class="rounded border border-gray-200 divide-y divide-gray-200">
        {% for subfield in field %}
            {{ list_item(subfield) }}
        {% endfor %}

        <template x-for="_ in counter" x-data="{index: counter + offset}">
            {{ list_item(template_field) }}
        </template>
    </div>
    <div>
        <button type="button" class="btn btn-text text-blue-700" @click="counter += 1">
            {{ icons.plus() }} {{ _('Add a new item', domain='ohmyadmin') }}
        </button>
    </div>
</div>
