{% import 'ohmyadmin/forms.html' as forms %}
<dialog class="modal" data-autoopen hx-swap="outerHTML" hx-target="this">
    <form class="modal-dialog" method="dialog">
        <header>{{ action.modal_title or action.label }}</header>
        <main>
            {% if action.modal_description %}
                <p>{{ action.modal_description }}</p>
            {% endif %}
            {% for field in form %}
                {{ forms.form_group(field) }}
            {% endfor %}
        </main>
        <footer>
            <button type="submit"
                    class="btn {{ 'btn-danger' if action.dangerous else 'btn-accent' }}"
                    hx-post="{{ request.url }}">
                {{ _('Submit') }}
            </button>
            <button type="button" @click="ohmyadmin.modals.closeActive" class="btn btn-text">
                {{ _('Cancel') }}
            </button>
        </footer>
    </form>
</dialog>
