{% extends 'ohmyadmin/base.html' %}

{% set user_menu = admin.get_user_menu(request) %}
{% set main_menu = admin.get_main_menu(request) %}

{% block main %}
    <div class="block md:hidden p-3">
        <div class="flex items-center justify-between">
            <!-- mobile logo -->
            {% if admin.logo_url %}
                <div class="flex items-center">
                    <a href="{{ url('ohmyadmin.welcome') }}">
                        <img src="{{ admin.logo_url }}" class="max-h-full">
                    </a>
                </div>
            {% else %}
                <div class="w-full">
                    <span class="text-lg font-semibold">{{ admin.title }}</span>
                </div>
            {% endif %}
            <!-- end mobile logo -->

            <!-- mobile navigation trigger -->
            <div class="md:hidden flex items-center justify-between">
                <button class="p-1 rounded inline-flex items-center justify-center">
                    {{ tabler_icon('menu-2', class='h-8 w-8') }}
                </button>
            </div>
            <!-- end mobile navigation trigger -->
        </div>

        <div class="py-3">
            <!-- user menu -->
            <div class="relative select-none border-b border-gray-300 pb-2 mb-2">
                <div class="flex items-center gap-3 p-1 cursor-pointer">
                    <div class="rounded-md overflow-hidden h-8 w-8 flex items-center justify-center">
                        {% if request.user.avatar %}
                            <img src="{{ media_url(request.user.avatar) }}" class="h-full w-full" alt="">
                        {% else %}
                            {{ tabler_icon('user') }}
                        {% endif %}
                    </div>
                    <div class="text-base font-semibold">
                        {{ request.user.display_name or _('anon.', domain='ohmyadmin') }}
                    </div>
                </div>
            </div>

            <!-- user menu -->
            <div class="divide-y divide-gray-200 space-y-1">
                {% for item in user_menu %}
                    <a href="{{ item.url }}">
                        {{ tabler_icon(item.icon) if item.icon else '' }}
                        {{ item.text }}
                    </a>
                {% endfor %}

                {% if not request.user.is_anonymous %}
                    <form action="{{ url('ohmyadmin.logout') }}" method="post" class="w-full">
                        <button class="flex w-full items-center gap-2 px-2 py-2">
                            {{ tabler_icon('logout') }} {{ _('Logout', domain='ohmyadmin') }}
                        </button>
                    </form>
                {% endif %}
            </div>

            <!-- main menu -->
            {% for item in main_menu %}
                <a href="{{ item.url }}">
                    {{ tabler_icon(item.icon) if item.icon else '' }}
                    {{ item.text }}
                </a>
            {% endfor %}

        </div>
    </div>

    <div class="flex h-full overflow-hidden" x-data="{mobileMenuOpen: false}">
        <!-- sidebar -->
        <aside class="hidden md:block w-80 border-r border-gray-300 bg-slate-50 px-3 text-sm">
            <!-- logo -->
            {% if admin.logo_url %}
                <div class="h-16 flex items-center">
                    <a href="{{ url('ohmyadmin.welcome') }}">
                        <img src="{{ admin.logo_url }}" class="max-h-full">
                    </a>
                </div>
            {% else %}
                <div class="w-full py-5">
                    <span class="text-lg font-semibold">{{ admin.title }}</span>
                </div>
            {% endif %}
            <!-- end logo -->

            <!-- main menu -->
            <nav class="grid grid-cols-1 gap-1 mb-10">
                {% for item in main_menu %}
                    {{ item.render(request)|safe }}
                {% endfor %}
            </nav>
            <!-- end main menu -->
        </aside>
        <!-- end sidebar -->

        <main class="w-full overflow-auto">
            <header class="border-b border-b-200 flex items-center justify-between px-2 md:px-10 h-16">
                <div></div>

                <div>
                    <!-- user menu -->
                    <div class="hidden md:block relative select-none"
                         x-data="{open: false}"
                         @click="open = !open"
                         @click.outside="open = false">
                        <div class="flex items-center gap-3 hover:bg-slate-100 p-1 rounded-md cursor-pointer">
                            <div
                                class="bg-slate-200 rounded-md overflow-hidden text-slate-500 h-8 w-8 flex items-center justify-center">
                                {% if request.user.avatar %}
                                    <img src="{{ media_url(request.user.avatar) }}" class="h-full w-full" alt="">
                                {% else %}
                                    {{ tabler_icon('user') }}
                                {% endif %}
                            </div>
                            <div class="hidden md:block">
                                {{ request.user.display_name or _('anon.', domain='ohmyadmin') }}
                            </div>
                        </div>

                        <!-- dropdown -->
                        <div x-show="open" class="absolute right-0 dropdown">
                            <nav class="list-menu">
                                {% for item in user_menu.menu %}
                                    <a href="{{ item.url }}" class="list-menu-item">
                                        {{ tabler_icon(item.icon) if item.icon else '' }}
                                        {{ item.text }}
                                    </a>
                                {% endfor %}
                                {% if not request.user.is_anonymous %}
                                    <button class="list-menu-item" @click="$refs.logoutForm.submit();">
                                        {{ tabler_icon('logout') }} {{ _('Logout', domain='ohmyadmin') }}
                                    </button>
                                {% endif %}
                            </nav>
                            <form action="{{ url('ohmyadmin.logout') }}" method="post" x-ref="logoutForm"></form>
                        </div>
                        <!-- end dropdown -->
                    </div>
                    <!-- user menu -->
                </div>
            </header>

            <article class="px-10 py-10 max-w-7xl mx-auto">
                <div class="mb-8 flex items-center justify-between">
                    <div class="text-3xl font-semibold">{{ page_title }}</div>
                    <div class="flex items-center gap-2">{% block page_actions %}{% endblock %}</div>
                </div>
                {% block content %}Page content goes here...{% endblock %}
            </article>
        </main>
    </div>
{% endblock %}
