<!doctype html>
<html lang="" class="h-full {{ html_tag_classes }}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{{ page_title }}{% if page_title %} / {% endif %}{{ admin.title }}</title>
    <link rel="preconnect" href="https://unpkg.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <meta name="msapplication-TileColor" content="#206bc4"/>
    <meta name="theme-color" content="#206bc4"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="csrf-token" content="{{ csrf_token }}"/>

    <link rel="icon" href="{{ static('logo_square.svg') }}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ static('logo_square.svg') }}" type="image/x-icon"/>

    <link href="{{ static('build/main.css') }}" rel="stylesheet"/>
    <script src="//unpkg.com/htmx.org@1.8.0"
            integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
            crossorigin="anonymous"></script>
    <script defer src="{{ static('build/main.js') }}"></script>

    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>


    <style>
        [x-cloak] {
            display: none;
        }
    </style>

    {% block head %}{% endblock %}
    {% block head_scripts %}{% endblock %}
</head>
<body class="antialiased  h-full {{ body_tag_classes }}" x-data="app" x-cloak>
{% block main %}{% endblock %}
{% block page_scripts %}{% endblock %}
<script>
    window.__TOASTS__ = {{ flash_messages|list|tojson }};
    window.__ACTIONS__ = {{ modal_actions|default({}, true)|tojson }};
    window.__ACTION_ENDPOINT__ = '{{ action_endpoint }}';
</script>

<!-- modal actions will be rendered to this container -->
<template x-if="actionUrl">
    <div class="modal">
        <div class="modal-spacer">
            <div class="modal-content" hx-trigger="load" :hx-get="actionUrl" x-ref="action"
                 x-init="() => htmx.process($refs.action)"
            >
            </div>
        </div>
    </div>
</template>
<!-- end modal actions -->

</body>
</html>
