<!doctype html>
<html lang="{{ app_language }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ theme.navbar_color }}">
    <title>{% if page_title is defined %}{{ page_title }} / {% endif %}{{ app.app_name }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="{{ static_url(theme.icon_url) }}" sizes="any">
    <link rel="manifest" href="{{ url_for('ohmyadmin.webmanifest') }}">
    <link rel="stylesheet" href="{{ static_url('main.css') }}">
</head>

<body>
{% block body %}{% endblock %}
<script defer type="module" src="{{ static_url('main.js') }}"></script>
</body>
</html>
