<!doctype html>
<html lang="" class="h-full">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% if page_title is defined %}{{ page_title }} / {% endif %}{{ theme.title }}</title>
    <meta name="msapplication-TileColor" content="{{ theme.navbar_color }}"/>
    <meta name="theme-color" content="{{ theme.navbar_color }}"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>

    <link rel="icon" href="{{ theme.favicon or static_url('logo_square.svg') }}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ theme.favicon or static_url('logo_square.svg') }}" type="image/x-icon"/>

    <link href="{{ static_url('main.css') }}" rel="stylesheet"/>
    <script defer src="//cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script defer src="//unpkg.com/htmx.org@1.8.0"></script>

    <script defer type="module" src="{{ static_url('main.js') }}"></script>

    {% block head %}{% endblock %}
    {% block head_scripts %}{% endblock %}
</head>
<body class="antialiased h-full">
{% block main %}{% endblock %}
{% block page_scripts %}{% endblock %}

<o-toasts>{{ flash_messages|list|tojson }}</o-toasts>
<o-modals></o-modals>
</body>
</html>
