{% extends 'ohmyadmin/app.html' %}

{% block content %}
    <form method="post">
        <h3 class="mb-2 text-xl leading-6">
            {% trans object=object %}Do you wish to delete "{{ object }}"?{% endtrans %}
        </h3>
        <p>{{ _('This action will delete current object and all related objects.') }}</p>
        <div class="mt-6">
            <button type="submit" class="btn btn-danger">
                {{ _('Yes, delete') }}
            </button>
        </div>
    </form>
{% endblock %}
