{% import 'ohmyadmin/forms.html' as forms %}
{% macro filter_field(field) %}
    {{ forms.form_field(field) }}
{% endmacro %}

{% macro filter_indicator(url, label, value) %}
    <div class="inline-flex gap-2 rounded-lg px-2.5 py-1.5 bg-gray-100">
        <div class="font-medium">{{ label }}</div>
        <div>{{ value }}</div>
        <a href="{{ url }}" class="text-gray-500 hover:text-red-700">
            {{ tabler_icon('x') }}
        </a>
    </div>
{% endmacro %}


{% macro list_filter_field(field) %}
    <div class="grid gap-3">
        {% for subfield in field %}
            {{ forms.form_field(subfield) }}
        {% endfor %}
    </div>
{% endmacro %}
