{% macro form_input(field) %}
    {% include 'ohmyadmin/forms/form_input.html' %}
{% endmacro %}

{% macro form_checkbox(field) %}
    {% include 'ohmyadmin/forms/form_checkbox.html' %}
{% endmacro %}

{% macro form_radio(field) %}
    {% include 'ohmyadmin/forms/form_radio.html' %}
{% endmacro %}

{% macro form_select(field) %}
    {% include 'ohmyadmin/forms/form_select.html' %}
{% endmacro %}

{% macro form_textarea(field) %}
    {% include 'ohmyadmin/forms/form_textarea.html' %}
{% endmacro %}

{% macro form_date(field) %}
    {% include 'ohmyadmin/forms/form_date.html' %}
{% endmacro %}

{% macro form_datetime(field) %}
    {% include 'ohmyadmin/forms/form_datetime.html' %}
{% endmacro %}

{% macro form_form_field(field) %}
    {% include 'ohmyadmin/forms/form_form_field.html' %}
{% endmacro %}

{% macro form_list_field(field) %}
    {% include 'ohmyadmin/forms/form_list_field.html' %}
{% endmacro %}

{% macro form_errors(field) %}
    <div class="form-errors">
        {% for error in field.errors %}
            <div>{{ error }}</div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro form_help(field) %}
    <div class="form-help">
        {{ field.description }}
    </div>
{% endmacro %}

{% macro form_label(field) %}
    <label for="{{ field.label.field_id }}">{{ field.label.text }}</label>
{% endmacro %}

{% macro form_field(field) %}
    {% if field.type == 'FormField' %}
        {{ form_form_field(field) }}
    {% elif field.type == 'FieldList' %}
        {{ form_list_field(field) }}
    {% elif field.type == 'BooleanField' %}
        {{ form_checkbox(field) }}
    {% else %}
        {{ form_input(field) }}
        {{ form_help(field) }}
        {{ form_errors(field) }}
    {% endif %}
{% endmacro %}

{% macro form_group(field, label='') %}
    <div class="form-group">
        {% if field.type not in ['RadioField', 'BooleanField'] %}
            {% if label or field.label.text %}
                {{ label or form_label(field) }}
            {% endif %}
        {% endif %}
        {{ form_field(field) }}
    </div>
{% endmacro %}
