{% extends 'ohmyadmin/app.html' %}
{% import 'ohmyadmin/forms.html' as forms %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {{ form_layout(request, form) }}
        <div class="form-actions items-center justify-between">
            {% if mode == 'create' %}
                <div class="flex items-center gap-2">
                    <button type="submit" class="btn btn-primary" name="_edit">{{ _('Save') }}</button>
                    <button type="submit" class="btn" name="_list">{{ _('Save and return to list') }}</button>
                    <button type="submit" class="btn" name="_add">{{ _('Save and add new') }}</button>
                </div>
            {% else %}
                <div class="flex items-center gap-2">
                    <button type="submit" class="btn btn-primary" name="_edit">{{ _('Save') }}</button>
                    <button type="submit" class="btn" name="_list">{{ _('Save and return to list') }}</button>
                </div>
                <div class="flex justify-end">
                    <a href="{{ url(resource.url_name('delete'), pk=pk(object)) }}" class="btn btn-danger">
                        {{ _('Delete') }}
                    </a>
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}
