{% import 'ohmyadmin/forms.html' as forms %}

{% macro field(request, form, component) %}
    <div class="max-w-{{ component.max_width }} col-span-{{ component.colspan }}">
        {{ forms.form_field(component.field) }}
    </div>
{% endmacro %}

{% macro grid(request, form, component) %}
    <div class="grid grid-cols-{{ component.columns }} gap-{{ component.gap }}">
        {% for subcomponent in component %}
            {{ subcomponent.render(request, form) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro grid(request, form, component) %}
    <div class="grid grid-cols-{{ component.columns }} gap-{{ component.gap }}">
        {% for subcomponent in component %}
            {{ subcomponent.render(request, form) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro group(request, form, component) %}
    <div class="col-span-{{ component.colspan }}">
        <div class="grid grid-cols-{{ component.columns }} gap-{{ component.gap }}">
            {% for subcomponent in component %}
                {{ subcomponent.render(request, form) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro card(request, form, component) %}
    <div class="card col-span-{{ component.colspan }}">
        {% if component.label %}
            <header>{{ component.label }}</header>
        {% endif %}
        <main class="grid grid-cols-{{ component.columns }} gap-{{ component.gap }}">
            {% for subcomponent in component %}
                {{ subcomponent.render(request, form) }}
            {% endfor %}
        </main>
    </div>
{% endmacro %}

{% macro form_text(request, form, component) %}
    <div class="form-group">
        <label>{{ component.label }}</label>
        <div>{{ component.component.render(request, form) }}</div>
    </div>
{% endmacro %}
