{% macro form_input(field) %}
    {% include 'ohmyadmin/forms/form_input.html' %}
{% endmacro %}

{% macro form_checkbox(field) %}
    {% include 'ohmyadmin/forms/form_checkbox.html' %}
{% endmacro %}

{% macro form_radio(field) %}
    {% include 'ohmyadmin/forms/form_radio.html' %}
{% endmacro %}

{% macro form_select(field) %}
    {% include 'ohmyadmin/forms/form_select.html' %}
{% endmacro %}

{% macro form_textarea(field) %}
    {% include 'ohmyadmin/forms/form_textarea.html' %}
{% endmacro %}

{% macro form_date(field) %}
    {% include 'ohmyadmin/forms/form_date.html' %}
{% endmacro %}

{% macro form_datetime(field) %}
    {% include 'ohmyadmin/forms/form_datetime.html' %}
{% endmacro %}

{% macro form_errors(field) %}
    <div class="form-errors">
        {% for error in field.errors %}
            <div>{{ error }}</div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro form_help(field) %}
    <div class="form-help">
        {{ field.description }}
    </div>
{% endmacro %}

{% macro form_label(field) %}
    <label for="{{ field.label.id }}">{{ field.label.text }}</label>
{% endmacro %}

{% macro form_field(field) %}
    {{ form_input(field) }}
    {{ form_help(field) }}
    {{ form_errors(field) }}
{% endmacro %}

{% macro form_group(field, label='') %}
    <div class="form-group">
        {{ label or form_label(field) }}
        {{ form_field(field) }}
    </div>
{% endmacro %}
