{% macro sort_asc(size=20, stroke=1) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}"
         height="{{ size }}" viewBox="0 0 24 24" stroke-width="{{ stroke }}" stroke="currentColor" fill="none"
         stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M15 10v-5c0 -1.38 .62 -2 2 -2s2 .62 2 2v5m0 -3h-4"/>
        <path d="M19 21h-4l4 -7h-4"/>
        <path d="M4 15l3 3l3 -3"/>
        <path d="M7 6v12"/>
    </svg>
{% endmacro %}

{% macro sort_desc(size=20, stroke=1) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}"
         height="{{ size }}" viewBox="0 0 24 24" stroke-width="{{ stroke }}" stroke="currentColor" fill="none"
         stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M15 21v-5c0 -1.38 .62 -2 2 -2s2 .62 2 2v5m0 -3h-4"/>
        <path d="M19 10h-4l4 -7h-4"/>
        <path d="M4 15l3 3l3 -3"/>
        <path d="M7 6v12"/>
    </svg>
{% endmacro %}

{% macro sort(size=20, stroke=1) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}"
         viewBox="0 0 24 24" stroke-width="{{ stroke }}" stroke="currentColor" fill="none" stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M3 9l4 -4l4 4m-4 -4v14"/>
        <path d="M21 15l-4 4l-4 -4m4 4v-14"/>
    </svg>
{% endmacro %}

{% macro arrow_left(size=20, stroke=1) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" viewBox="0 0 24 24"
         stroke-width="{{ stroke }}"
         stroke="currentColor" fill="none" stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0"/>
        <path d="M5 12l4 4"/>
        <path d="M5 12l4 -4"/>
    </svg>
{% endmacro %}

{% macro arrow_right(size=20, stroke=1) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}"
         viewBox="0 0 24 24" stroke-width="{{ stroke }}" stroke="currentColor" fill="none" stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0"/>
        <path d="M15 16l4 -4"/>
        <path d="M15 8l4 4"/>
    </svg>
{% endmacro %}

{% macro dots_vertical(size=20, stroke=2) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}"
         viewBox="0 0 24 24" stroke-width="{{ stroke }}" stroke="currentColor" fill="none" stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
        <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
        <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
    </svg>
{% endmacro %}

{% macro chevron_down(size=20, stroke=2) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}"
         viewBox="0 0 24 24" stroke-width="{{ stroke }}" stroke="currentColor" fill="none" stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M6 9l6 6l6 -6"/>
    </svg>
{% endmacro %}

{% macro play(size=20, stroke=2) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}"
         viewBox="0 0 24 24" stroke-width="{{ stroke }}" stroke="currentColor" fill="none" stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M7 4v16l13 -8z"/>
    </svg>
{% endmacro %}

{% macro close(size=20, stroke=2) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}"
         viewBox="0 0 24 24" stroke-width="{{ stroke }}" stroke="currentColor" fill="none" stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M18 6l-12 12"/>
        <path d="M6 6l12 12"/>
    </svg>
{% endmacro %}

{% macro trash(size=20, stroke=2) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}"
         viewBox="0 0 24 24" stroke-width="{{ stroke }}" stroke="currentColor" fill="none" stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M4 7l16 0"/>
        <path d="M10 11l0 6"/>
        <path d="M14 11l0 6"/>
        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"/>
        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"/>
    </svg>
{% endmacro %}

{% macro plus(size=20, stroke=2) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}"
         viewBox="0 0 24 24" stroke-width="{{ stroke }}" stroke="currentColor" fill="none" stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 5l0 14"/>
        <path d="M5 12l14 0"/>
    </svg>
{% endmacro %}

{% macro circle_check(size=20, stroke=2) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}"
         viewBox="0 0 24 24" stroke-width="{{ stroke }}" stroke="currentColor" fill="none" stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"/>
        <path d="M9 12l2 2l4 -4"/>
    </svg>
{% endmacro %}

{% macro circle_x(size=20, stroke=2) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}"
         viewBox="0 0 24 24" stroke-width="{{ stroke }}" stroke="currentColor" fill="none" stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"/>
        <path d="M10 10l4 4m0 -4l-4 4"/>
    </svg>
{% endmacro %}
