{% macro sort_asc(size=20, stroke=1) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}"
         height="{{ size }}" viewBox="0 0 24 24" stroke-width="{{ stroke }}" stroke="currentColor" fill="none"
         stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M15 10v-5c0 -1.38 .62 -2 2 -2s2 .62 2 2v5m0 -3h-4"/>
        <path d="M19 21h-4l4 -7h-4"/>
        <path d="M4 15l3 3l3 -3"/>
        <path d="M7 6v12"/>
    </svg>
{% endmacro %}

{% macro sort_desc(size=20, stroke=1) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}"
         height="{{ size }}" viewBox="0 0 24 24" stroke-width="{{ stroke }}" stroke="currentColor" fill="none"
         stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M15 21v-5c0 -1.38 .62 -2 2 -2s2 .62 2 2v5m0 -3h-4"/>
        <path d="M19 10h-4l4 -7h-4"/>
        <path d="M4 15l3 3l3 -3"/>
        <path d="M7 6v12"/>
    </svg>
{% endmacro %}

{% macro sort(size=20, stroke=1) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}"
         viewBox="0 0 24 24" stroke-width="{{ stroke }}" stroke="currentColor" fill="none" stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M3 9l4 -4l4 4m-4 -4v14"/>
        <path d="M21 15l-4 4l-4 -4m4 4v-14"/>
    </svg>
{% endmacro %}

{% macro arrow_left(size=20, stroke=1) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" viewBox="0 0 24 24"
         stroke-width="{{ stroke }}"
         stroke="currentColor" fill="none" stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0"/>
        <path d="M5 12l4 4"/>
        <path d="M5 12l4 -4"/>
    </svg>
{% endmacro %}

{% macro arrow_right(size=20, stroke=1) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}"
         viewBox="0 0 24 24" stroke-width="{{ stroke }}" stroke="currentColor" fill="none" stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0"/>
        <path d="M15 16l4 -4"/>
        <path d="M15 8l4 4"/>
    </svg>
{% endmacro %}

{% macro dots_vertical(size=20, stroke=2) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}"
         viewBox="0 0 24 24" stroke-width="{{ stroke }}" stroke="currentColor" fill="none" stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
        <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
        <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
    </svg>
{% endmacro %}
