{% extends 'ohmyadmin/app.html' %}
{% import 'ohmyadmin/pagination.html' as pagination %}

{% block page_actions %}
    {% for action in page_actions %}
        {{ action.render(request) }}
    {% endfor %}
{% endblock %}

{% block content %}
    {% include 'ohmyadmin/list_page/metrics.html' %}

    <div class="space-y-6">

        <div class="flex items-center justify-between">
            <!-- search and actions -->
            <div class="flex items-center gap-3 flex-1 flex-wrap">
                {% include 'ohmyadmin/list_page/search_form.html' %}
                {% include 'ohmyadmin/list_page/filters.html' %}
            </div>
            <!-- end search and actions -->
            {% include 'ohmyadmin/list_page/batch_actions.html' %}
        </div>

        {% if projections %}
            {% include 'ohmyadmin/list_page/projections.html' %}
        {% endif %}

        {{ content }}

        {{ pagination.pagination(request, objects) }}
    </div>
{% endblock %}
