{% extends 'ohmyadmin/layout/app.html' %}

{% block content %}
{#    {% include 'ohmyadmin/resources/breadcrumbs.html' %}#}
    {% include 'ohmyadmin/resources/page_toolbar.html' %}
{#    {% include 'ohmyadmin/resources/metrics_panel.html' %}#}

    <div class="hidden mt-8 sm:block max-w-7xl mx-auto px-4 py-4 sm:px-6 lg:px-8">
        <div class="align-middle inline-block min-w-full border-b border-gray-200">

            <div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
                {% include 'ohmyadmin/resources/page_search_form.html' %}
                {% include 'ohmyadmin/resources/filters_bar.html' %}
            </div>

            {% include 'ohmyadmin/resources/resource_table.html' %}
            {% include 'ohmyadmin/resources/pagination.html' %}
        </div>
    </div>
{% endblock %}
