{% extends 'ohmyadmin/layout/app.html' %}
{% import 'ohmyadmin/ui/buttons.html' as buttons %}

{% block page_heading %}
    {% trans %}Delete {{ object }}{% endtrans %}
{% endblock %}

{% block content %}
    <form method="post" class="align-middle inline-block min-w-full">
        <p class="p-4 bg-white rounded-md border border-gray-200">{{ delete_confirmation }}</p>

        <div class="mt-6 flex items-center justify-between">
            <div class="flex items-center gap-2">
                {{ buttons.danger_button(_('Delete permanently')) }}
                {{ buttons.link_button(_('Cancel'), list_objects_url) }}
            </div>
        </div>
    </form>
{% endblock %}
