{% macro link_row_action(url, text='', icon='', color='') %}
    <a href="{{ url }}" class="row-action {{ color }}">
        {{ tabler_icon(icon) if icon else '' }}
        <span>{{ text }}</span>
    </a>
{% endmacro %}

{% macro row_action_group(request, pk, entity, text, icon, actions) %}
    <button x-data="{open: false}" class="row-action-dropdown" @click="open = !open">
        {{ tabler_icon(icon) }}
        <div x-show="open" @click.outside="open = false" class="dropdown">
            <ul>
                {% for action in actions %}
                    <li>
                        {{ action.render(request, pk, entity) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </button>
{% endmacro %}

{% macro modal_row_action(action, pk, text='', icon='', color='') %}
    <span class="dropdown-item row-action" type="button" @click="callBatchAction('{{ action.slug }}', ['{{ pk }}'])">
        {{ tabler_icon(icon) if icon else '' }}
        <span>{{ text }}</span>
    </span>
{% endmacro %}
