{% extends 'ohmyadmin/app.html' %}

{% block content %}
    <div class="flex items-center gap-2 mb-10">
        {% for action in row_actions %}
            {{ action.render(request, pk(object), object) }}
        {% endfor %}
    </div>
    <div>
        <table>
            {% for field in fields %}
                <tr>
                    <th class="w-80">{{ field.label }}</th>
                    <td>{{ field.render(request, object) }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
