{% extends 'ohmyadmin/app.html' %}
{% import 'ohmyadmin/icons.html' as icons %}

{% block content %}
    WELCOME!

    <details>
        <summary>Buttons</summary>
        <div class="p-3 flex flex-col gap-5">
            <div class="flex gap-2">
                <button class="btn">Default</button>
                <button class="btn btn-accent">Accept</button>
                <button class="btn btn-primary">Primary</button>
                <button class="btn btn-secondary">Secondary</button>
                <button class="btn btn-danger">Danger</button>
                <button class="btn btn-text">Text</button>
                <button class="btn btn-link">Link</button>
            </div>
            <div class="flex gap-2">
                <button class="btn">Default {{ icons.plus() }}</button>
                <button class="btn btn-accent">Accept {{ icons.plus() }}</button>
                <button class="btn btn-primary">Primary {{ icons.plus() }}</button>
                <button class="btn btn-secondary">Secondary {{ icons.plus() }}</button>
                <button class="btn btn-danger">Danger {{ icons.plus() }}</button>
                <button class="btn btn-text">Text {{ icons.plus() }}</button>
                <button class="btn btn-link">Link {{ icons.plus() }}</button>
            </div>
            <div class="flex gap-2">
                <button class="btn btn-icon">{{ icons.plus() }}</button>
                <button class="btn btn-accent btn-icon">{{ icons.plus() }}</button>
                <button class="btn btn-primary btn-icon">{{ icons.plus() }}</button>
                <button class="btn btn-secondary btn-icon">{{ icons.plus() }}</button>
                <button class="btn btn-danger btn-icon">{{ icons.plus() }}</button>
                <button class="btn btn-text btn-icon">{{ icons.plus() }}</button>
            </div>
        </div>
    </details>
    <details>
        <summary>Form Inputs</summary>
        <div class="p-3 flex flex-col gap-5">
            <div class="grid grid-cols-2 gap-2">
                <input type="text">
                <input type="text" disabled>
                <input type="text" placeholder="With placeholder">
                <input type="text" disabled placeholder="With placeholder">
            </div>
            <div class="grid grid-cols-2 gap-2">
                <input type="text">
                <input type="tel">
                <input type="email">
                <input type="password">
                <input type="time">
                <input type="week">
                <input type="month">
                <input type="date">
                <input type="datetime-local">
                <input type="number">
            </div>
            <div class="flex gap-2">
                <input type="checkbox">
                <input type="checkbox" disabled>
                <input type="checkbox" checked>
                <input type="checkbox" checked disabled>
            </div>
            <div class="flex gap-2">
                <input type="checkbox" class="form-switch">
                <input type="checkbox" class="form-switch" disabled>
                <input type="checkbox" class="form-switch" checked>
                <input type="checkbox" class="form-switch" checked disabled>
            </div>
            <div class="flex gap-2 flex-col">
                <label class="form-check"><input type="checkbox"> With label</label>
                <div class="form-group">
                    <label>In form group</label>
                    <input type="checkbox">
                </div>
            </div>
            <div class="flex gap-2 flex-col">
                <div class="form-group">
                    <label>Multi checkboxes</label>
                    <labeL><input type="checkbox"> Value A</labeL>
                    <labeL><input type="checkbox"> Value B</labeL>
                    <labeL><input type="checkbox"> Value C</labeL>
                </div>
            </div>
            <div class="flex gap-2">
                <input type="radio">
                <input type="radio" disabled>
                <input type="radio" checked>
                <input type="radio" checked disabled>
            </div>
            <div class="flex gap-2 flex-col">
                <label class="form-check"><input type="radio"> With label</label>
                <div class="form-group">
                    <label>In form group</label>
                    <input type="radio">
                </div>
            </div>
            <div class="flex gap-2 flex-col">
                <div class="form-group">
                    <label>Multi radios</label>
                    <labeL><input type="radio" name="radio"> Value A</labeL>
                    <labeL><input type="radio" name="radio"> Value B</labeL>
                    <labeL><input type="radio" name="radio"> Value C</labeL>
                </div>
            </div>
            <div class="flex gap-2">
                <input type="text"> <button class="btn btn-accent">Click</button>
            </div>
        </div>
    </details>
    <details>
        <summary>Avatars</summary>
        <div class="p-3 flex flex-col gap-5">
            <div class="flex gap-2">
                <div class="avatar">AA</div>
                <div class="avatar avatar-red">AA</div>
                <div class="avatar avatar-yellow">AA</div>
                <div class="avatar avatar-amber">AA</div>
                <div class="avatar avatar-green">AA</div>
                <div class="avatar avatar-lime">AA</div>
                <div class="avatar avatar-emerald">AA</div>
                <div class="avatar avatar-teal">AA</div>
                <div class="avatar avatar-pink">AA</div>
                <div class="avatar avatar-indigo">AA</div>
                <div class="avatar avatar-blue">AA</div>
            </div>
            <div class="flex gap-2">
                <div class="avatar avatar-subtle">AA</div>
                <div class="avatar avatar-subtle avatar-red">AA</div>
                <div class="avatar avatar-subtle avatar-yellow">AA</div>
                <div class="avatar avatar-subtle avatar-amber">AA</div>
                <div class="avatar avatar-subtle avatar-green">AA</div>
                <div class="avatar avatar-subtle avatar-lime">AA</div>
                <div class="avatar avatar-subtle avatar-emerald">AA</div>
                <div class="avatar avatar-subtle avatar-teal">AA</div>
                <div class="avatar avatar-subtle avatar-pink">AA</div>
                <div class="avatar avatar-subtle avatar-indigo">AA</div>
                <div class="avatar avatar-subtle avatar-blue">AA</div>
            </div>
            <div class="flex gap-2">
                <div class="avatar avatar-rounded">AA</div>
                <div class="avatar avatar-rounded avatar-red">AA</div>
                <div class="avatar avatar-rounded avatar-yellow">AA</div>
                <div class="avatar avatar-rounded avatar-amber">AA</div>
                <div class="avatar avatar-rounded avatar-green">AA</div>
                <div class="avatar avatar-rounded avatar-lime">AA</div>
                <div class="avatar avatar-rounded avatar-emerald">AA</div>
                <div class="avatar avatar-rounded avatar-teal">AA</div>
                <div class="avatar avatar-rounded avatar-pink">AA</div>
                <div class="avatar avatar-rounded avatar-indigo">AA</div>
                <div class="avatar avatar-rounded avatar-blue">AA</div>
            </div>
            <div class="flex gap-2">
                <div class="avatar avatar-rounded avatar-subtle">AA</div>
                <div class="avatar avatar-rounded avatar-subtle avatar-red">AA</div>
                <div class="avatar avatar-rounded avatar-subtle avatar-yellow">AA</div>
                <div class="avatar avatar-rounded avatar-subtle avatar-amber">AA</div>
                <div class="avatar avatar-rounded avatar-subtle avatar-green">AA</div>
                <div class="avatar avatar-rounded avatar-subtle avatar-lime">AA</div>
                <div class="avatar avatar-rounded avatar-subtle avatar-emerald">AA</div>
                <div class="avatar avatar-rounded avatar-subtle avatar-teal">AA</div>
                <div class="avatar avatar-rounded avatar-subtle avatar-pink">AA</div>
                <div class="avatar avatar-rounded avatar-subtle avatar-indigo">AA</div>
                <div class="avatar avatar-rounded avatar-subtle avatar-blue">AA</div>
            </div>
            <div class="flex gap-2">
                <div class="avatar avatar-xs" data-value="A"></div>
                <div class="avatar avatar-sm" data-value="AA"></div>
                <div class="avatar avatar-md" data-value="AA"></div>
                <div class="avatar avatar-lg" data-value="AA"></div>
                <div class="avatar avatar-xl" data-value="AA"></div>
                <div class="avatar avatar-2xl" data-value="AA"></div>
            </div>
            <div class="flex gap-2">
                <div class="avatar avatar-xs">
                    <img src="https://picsum.photos/600/400">
                </div>
                <div class="avatar avatar-sm"><img src="https://picsum.photos/600/400"></div>
                <div class="avatar avatar-md"><img src="https://picsum.photos/600/400"></div>
                <div class="avatar avatar-lg"><img src="https://picsum.photos/600/400"></div>
                <div class="avatar avatar-xl"><img src="https://picsum.photos/600/400"></div>
                <div class="avatar avatar-2xl"><img src="https://picsum.photos/600/400"></div>
            </div>
        </div>
    </details>
{% endblock %}
