{% import 'ohmyadmin/lib/forms.html' as forms %}

<div class="space-y-6 sm:space-y-5">
    {% if layout.label or layout.description %}
        <div>
            <h3 class="text-lg font-medium leading-6 text-gray-900">
                {{ layout.label }}
            </h3>
            {% if layout.description %}
                <p class="mt-1 max-w-2xl text-sm text-gray-500">{{ layout.description }}</p>
            {% endif %}
        </div>
    {% endif %}

    <div>
        {% for child in layout.children %}
            <div class="md:grid md:grid-cols-3 md:items-start md:gap-4">
                <label for="{{ child.field.label.field_id }}"
                       class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                    {{ child.field.label.text }}
                    {% if child.field.flags.required %}
                        {{ forms.required_asterisk() }}
                    {% endif %}
                </label>
                <div class="max-w-{{ child.max_width }} md:col-span-2">
                    {{ forms.form_input(child.field) }}
                    {{ forms.form_help(child.field) if child.field.description else '' }}
                    {{ forms.form_errors(child.field) if child.field.errors else '' }}
                </div>
            </div>
            <div class="mb-4 md:my-5 md:border-t md:border-gray-200"></div>
        {% endfor %}
    </div>
</div>
