<div class="space-y-6 sm:space-y-5">
    {% if layout.label or layout.description %}
        <div>
            <h3 class="text-lg font-medium leading-6 text-gray-900">
                {{ layout.label }}
            </h3>
            {% if layout.description %}
                <p class="mt-1 max-w-2xl text-sm text-gray-500">{{ layout.description }}</p>
            {% endif %}
        </div>
    {% endif %}

    <div class="max-w-md mx-auto space-y-6">
        {% for child in layout.children %}
            {{ child.render(request) }}
        {% endfor %}
    </div>
</div>
