{% extends 'ohmyadmin/app.html' %}
{% import 'ohmyadmin/icons.html' as icons %}

{% block page_actions %}
    {% for action in table.actions %}
        {% with action=action %}
            {% include action.template %}
        {% endwith %}
    {% endfor %}
{% endblock %}

{% block content %}
    <script>
        function setSelectedFlag(flag) {
            document
                .querySelectorAll('#datatable input[name="selected"]')
                .forEach(el => {
                    el.checked = flag;
                    el.dispatchEvent(new CustomEvent('input'));
                });
        }

        document.addEventListener('DOMContentLoaded', () => {
            document
                .querySelector('#batch-action-form')
                .addEventListener('htmx:configRequest', (e) => {
                    e.detail.path = e.target.getAttribute('action');
                    console.log(e);
                });
        });
    </script>

    <div class="space-y-5"
         x-data="{selectedAll: false, selectedMatched: false}"
         hx-target="#datatable"
         hx-indicator="#load-indicator"
         hx-include="#search-form, #view-filters, #datatable"
    >

        <!-- metrics -->
        {% if table.metrics %}
            <section class="grid grid-cols-12 gap-5 mb-16 h-40">
                {% for metric in table.metrics %}
                    <div class="col-span-{{ metric.size }}"
                         hx-trigger="load"
                         hx-target="this"
                         hx-get="{{ url_for(metric.get_url_name(table.url_name)) }}">
                    </div>
                {% endfor %}
            </section>
        {% endif %}

        <section class="flex items-center justify-between">
            <!-- search -->
            <div class="w-1/2 flex items-center justify-start">
                {% if table.searchable %}
                    <form method="get" role="search" id="search-form" class="w-full max-w-md">
                        <input type="search" role="searchbox" class="w-full" value="{{ search_term }}"
                               name="{{ table.search_param }}"
                               hx-get="{{ request.url.path }}"
                               hx-push-url="true"
                               hx-trigger="keyup changed delay:300ms, search delay:300ms"
                               placeholder="{{ table.search_placeholder }}">
                    </form>
                {% endif %}
            </div>

            <!-- batch actions -->
            <div class="w-1/2 flex items-center justify-end">
                {% if table.batch_actions %}
                    <form id="batch-action-form" class="flex items-center gap-2 justify-end max-w-xs w-full"
                          method="get" :action="action" :hx-get="action" x-data="{action: ''}"
                          hx-target="o-modals" hx-push-url="false" hx-boost="true"
                    >
                        <select x-model="action">
                            <option value=""></option>
                            {% for batch_action in table.batch_actions %}
                                <option value="{{ url_for(batch_action.get_url_name(table.url_name)) }}">
                                    {{ batch_action.label }}
                                </option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-accent" :disabled="!action">
                            {{ icons.play() }}
                        </button>
                    </form>
                {% endif %}
            </div>
        </section>

        <!-- filters -->
        <section id="view-filters" class="flex items-center gap-1 flex-wrap border border-gray-200 p-1 rounded-md">
            {% include 'ohmyadmin/views/table/filters_bar.html' %}
        </section>

        <section class="overflow-x-auto">
            <div class="-mb-[1px] htmx-indicator" id="load-indicator">
                <div class="progress progress-indeterminate progress-square progress-xs">
                    <div class="progress-bar"></div>
                </div>
            </div>

            <div id="datatable"
                 hx-get="{{ request.url.path }}"
                 hx-trigger="refresh from:body"
                 hx-push-url="true">
                {% include 'ohmyadmin/views/table/table.html' %}
            </div>
        </section>
    </div>
{% endblock %}
