{% extends 'ohmyadmin/app.html' %}

{% block page_actions %}{% endblock %}

{% block content %}
    <div hx-trigger="refresh from:body"
         hx-target="#datatable"
         hx-indicator="#load-indicator"
         hx-get="{{ request.url.remove_query_params(table.search_param) }}"
    >

        <!-- metrics -->
        {#    <section class="mb-5 grid grid-cols-12 gap-5"></section>#}

        <!-- search and actions -->
        <section class="flex items-center justify-between mb-5">
            <form method="post"
                  role="search"
                  id="search-form" class="w-full max-w-xl">
                <input type="search"
                       role="searchbox"
                       class="w-full"
                       value="{{ search_term }}"
                       name="{{ table.search_param }}"
                       hx-get="{{ request.url.remove_query_params(table.search_param) }}"
                       hx-trigger="keyup changed delay:300ms, search delay:300ms"
                       placeholder="{{ table.search_placeholder }}">
            </form>
            <div></div>
        </section>

        <!-- active filters -->
        <section class="mb-5"></section>

        <section class="overflow-x-auto mb-5">
            <div class="-mb-[1px] htmx-indicator" id="load-indicator">
                <div class="progress progress-indeterminate progress-square progress-xs">
                    <div class="progress-bar"></div>
                </div>
            </div>

            <div id="datatable">
                {% include 'ohmyadmin/views/table/table.html' %}
            </div>
        </section>
    </div>
{% endblock %}
