{% import 'ohmyadmin/icons.html' as icons %}
{% import 'ohmyadmin/actions.html' as actions %}

{% macro render_head_cell(request, column, sorting) %}
    {% include 'ohmyadmin/views/table/table_head_cell.html' %}
{% endmacro %}

{% macro render_cell(request, column, object) %}
    {% set value = column.get_field_value(request, object) %}
    {% include 'ohmyadmin/views/table/table_cell.html' %}
{% endmacro %}

{% macro sortable_cell(column, control) -%}
    <a href="{{ control.url }}" hx-include="this" class="flex items-center gap-2 whitespace-nowrap" hx-boost="true">
        <span>{{ column.label }}</span>
        <span class="text-gray-400 flex items-center">
            {% if control.ordering == 'asc' %}
                {{ icons.sort_asc() }}
            {% elif control.ordering == 'desc' %}
                {{ icons.sort_desc() }}
            {% else %}
                {{ icons.sort() }}
            {% endif %}

            {% if control.show_index and control.index %}
                <span class="text-sm text-accent-600 ml-1">{{ control.index }}</span>
            {% endif %}
    </span>
    </a>
{%- endmacro -%}

{%- macro simple_cell(column) -%}
    {{ column.label }}
{%- endmacro -%}

{% macro object_action_button(index) %}
    {% include 'ohmyadmin/views/table/object_action_button.html' %}
{% endmacro %}

{% macro table(request, view, models) %}
    <table data-test="datatable">
    <thead>
    <tr>
        {% if view.has_batch_actions %}
            <th class="w-4">
                <div class="flex items-center justify-start w-auto">
                    <button
                        class="p-0 h-full w-auto hover:bg-gray-50 flex items-center gap-1 bg-transparent cursor-pointer"
                        id="batch-all">
                        <input type="checkbox" onclick="return false" onmousedown="return false">
                        {{ icons.chevron_down() }}
                    </button>
                    <o-popover trigger="#batch-all" placement="bottom-start">
                        <div class="dropdown absolute hidden z-10">
                            <div class="list-menu">
                                <button type="button" class="list-menu-item"
                                        @click="selectedAll = !selectedAll; selectedMatched = false; setSelectedFlag(selectedAll || selectedMatched)">
                                    <input type="checkbox" name="__all__" onclick="return false"
                                           onmousedown="return false" x-model="selectedAll">
                                    {{ _('Select all ({count})').format(count=models.total_rows) }}
                                </button>
                                <button type="button" class="list-menu-item"
                                        @click="selectedMatched = !selectedMatched; selectedAll = false; setSelectedFlag(selectedAll || selectedMatched)">
                                    <input type="checkbox" name="select_matched" onclick="return false"
                                           onmousedown="return false" x-model="selectedMatched">
                                    {{ _('Select all matching') }}
                                </button>
                            </div>
                        </div>
                    </o-popover>
                </div>
            </th>
        {% endif %}
        {% for column in view.columns %}
            {{ render_head_cell(request, column, view.sorting) }}
        {% endfor %}
        {% if view.has_object_actions %}
            <th></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for model in models %}
        <tr x-data="{selected: false}" :class="{selected}">
            {% if view.has_batch_actions %}
                <th>
                    <div class="flex items-center justify-start">
                        <input type="checkbox"
                               name="object_id"
                               :checked="selected"
                               @input="selected = $el.checked"
                               value="{{ model|model_pk(request) }}">
                    </div>
                </th>
            {% endif %}
            {% for column in view.columns %}
                {{ render_cell(request, column, model) }}
            {% endfor %}
            {% if view.has_object_actions %}
                <td>
                    {{ object_action_button(loop.index0) }}
                    <o-popover trigger="#object-menu-{{ loop.index0 }}" placement="bottom-end">
                        <div class="dropdown absolute hidden">
                            <div class="list-menu" hx-include="this">
                                {% for object_action in view.object_actions %}
                                    {{ actions.action_menu_item(request, object_action, view.screen, model) }}
                                {% endfor %}
                            </div>
                        </div>
                    </o-popover>
                </td>
            {% endif %}
        </tr>
    {% else %}
        <tr>
            <td colspan="9999">
                <div class="text-muted text-center">{{ _('No data.', 'ohmyadmin') }}</div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro %}
