<table data-test="datatable">
    <thead>
    <tr>
        {% for column in table.columns %}
            <th class="whitespace-nowrap">
                {{ render_head_cell(request, column) }}
            </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for object in objects %}
        <tr x-data="{selected: false}" :class="{selected: selected}">
            {% for columm in table.columns %}
                <td>{{ render_cell(request, columm, object) }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
