<div class="flex items-center justify-between mb-10">
    <div>
        <input type="search"
               class="rounded-md border border-slate-200 shadow-sm bg-white px-3 py-1.5 w-96"
               placeholder="Search...">
    </div>
    <div class="flex items-center gap-3">
        <a
            href="#"
            class="rounded-md border border-slate-300 shadow bg-white px-3 py-1.5 hover:bg-slate-100 active:bg-slate-200 font-medium"
        >
            Filters
        </a>
        <a href="#"
           class="rounded-md shadow bg-blue-600 text-white px-3 py-1.5 hover:bg-blue-700 active:bg-blue-800 font-medium">
            Add post
        </a>
    </div>
</div>

<div class="mb-6">
    <div class="mb-5 flex items-center justify-between gap-5 bg-yellow-100 rounded p-2">
        <div class="flex items-center gap-2">
            <select
                class="px-3 py-1.5 font-medium shadow-sm h-8 rounded-md border border-slate-300 w-48">
                <option></option>
                <option>Delete all</option>
            </select>
            <button>Run bulk action</button>
        </div>
        <div class="flex items-center text-yellow-900">
            <span>20 rows selected</span>
            <div class="flex items-center gap-2 ml-5">
                <button class="hover:underline">Select all</button>
                <button class="hover:underline">Unselect all</button>
            </div>
        </div>
    </div>
    <table class="w-full">
        <thead class="border-b border-slate-300">
        <tr>
            <th class="text-left p-2">
                <input type="checkbox" class="rounded border border-slate-400">
            </th>
            <th class="text-left p-2">Title</th>
            <th class="text-left p-2">Author</th>
            <th class="text-left p-2">Comments</th>
            <th class="text-left p-2">Published At</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for x in range(20) %}
            <tr
                class="hover:bg-slate-100 border-b border-slate-200"
                x-bind:class="{'bg-blue-100': selected}"
                x-data="{selected: false}"
            >
                <td class="p-2">
                    <input type="checkbox" class="rounded border border-slate-400"
                           @click="selected = !selected">
                </td>
                <td class="p-2">Abnobas sunt hilotaes de placidus vita</td>
                <td class="p-2"><a href="#">Tom Doe</a></td>
                <td class="p-2">5</td>
                <td class="p-2">Nov 19, 2017, 5:36 PM</td>
                <td class="p-2">
                    <button x-data="{open: false}" class="relative" @click="open = !open">
                        {{ icon('dots') }}
                        <div
                            x-show="open"
                            @click.outside="open = false"
                            class="absolute right-0 bg-white shadow-lg border border-slate-200 py-1 rounded-md w-48 z-10">
                            <ul class="space-y-1">
                                <li>
                                    <a href="#"
                                       class="rounded px-2 py-1.5 flex items-center gap-3 hover:bg-slate-100 active:bg-slate-200">
                                        {{ icon('eye') }} Show
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       class="rounded px-2 py-1.5 flex items-center gap-3 hover:bg-slate-100 active:bg-slate-200">
                                        {{ icon('pencil') }} Edit
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       class="rounded px-2 py-1.5 flex items-center gap-3 hover:bg-slate-100 active:bg-slate-200 text-red-700">
                                        {{ icon('trash') }} Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- pagination -->
<div class="flex items-center justify-between">
    <div class="font-medium">Showing 21 - 40 of 120 results</div>
    <div class="flex items-center justify-end gap-1">
        <a href="#"
           class="rounded py-2 px-3 hover:bg-slate-100 active:bg-slate-200 font-medium flex items-center gap-2">{{ icon('arrow-left') }}
            Previous</a>
        <a href="#" class="rounded py-2 px-3 hover:bg-slate-100 active:bg-slate-200 font-medium">1</a>
        <a href="#" class="rounded py-2 px-3 hover:bg-slate-100 active:bg-slate-200 font-medium">2</a>
        <a href="#"
           class="rounded py-2 px-3 hover:bg-slate-100 active:bg-slate-200 bg-blue-700 text-white font-medium">3</a>
        <a href="#" class="rounded py-2 px-3 hover:bg-slate-100 active:bg-slate-200 font-medium">4</a>
        <a href="#" class="rounded py-2 px-3 hover:bg-slate-100 active:bg-slate-200 font-medium">5</a>
        <a href="#"
           class="rounded py-2 px-3 hover:bg-slate-100 active:bg-slate-200 font-medium flex items-center gap-2">Next {{ icon('arrow-right') }}</a>
    </div>
</div>
<!-- end pagination -->
