{% import 'ohmyadmin/ui/forms.html' as forms %}

<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
    {{ forms.form_label(element.field, class='sm:mt-px sm:pt-2') }}
    <div class="mt-1 sm:mt-0 sm:col-span-2">
        <div class="max-w-lg flex rounded-md shadow-sm">
            {{ forms.form_input(element.field) }}
        </div>
        {% if element.field.description %}
            {{ forms.form_help(element.field) }}
        {% endif %}
        {% if element.field.errors %}
            {{ forms.form_errors(element.field) }}
        {% endif %}
    </div>
</div>
