{% import 'ohmyadmin/forms.html' as forms %}
{% import 'ohmyadmin/icons.html' as icons %}

<div class="inline-block relative z-10" data-test="filter">
    <button class="btn" id="filter-{{ filter | object_id }}">
        <span>{{ filter.label }}</span>
        <span class="text-gray-500">{{ icons.chevron_down() }}</span>
    </button>
    <o-popover trigger="#filter-{{ filter | object_id }}" placement="bottom-start">
        <form class="dropdown absolute w-64 px-3 py-2 hidden" method="get" autocomplete="off"
              @submit.prevent="$dispatch(ohmyadmin.events.REFRESH);"
        >
            <div>{% block content %}{% endblock %}</div>
            <div class="mt-5 flex items-center gap-2">
                <button class="btn btn-accent" type="submit">
                    {{ _('Apply', domain='ohmyadmin') }}
                </button>
                <button class="btn btn-text" type="button" @click="$dispatch('close')">
                    {{ _('Cancel', domain='ohmyadmin') }}
                </button>
            </div>
        </form>
    </o-popover>
</div>
