<form :action="action"
      :hx-get="action"
      hx-method="get"
      hx-target="#modals"
      @submit="$nextTick(() => action = '')"
      x-data="{action: '', objectIds: []}"
      method="get"
>
    {% if page.batch_actions %}
        <x-batch-selected-rows @change="objectIds = $event.detail"></x-batch-selected-rows>
        <div class="btn-group">
            <select name="_batch_action" class="w-64" x-model="action" :disabled="!objectIds.length">
                <option value="">{{ _('Select action', domain='ohmyadmin') }}</option>
                {% for action in page.get_batch_actions(request) %}
                    <option value="{{ action.slug }}">{{ action.label }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-accent" :disabled="action == '' || !objectIds.length">
                {{ tabler_icon('player-play') }}
            </button>
        </div>
    {% endif %}
</form>
