{% extends 'ohmyadmin/app.html' %}

{% block content %}
    <div class="space-y-6" hx-target="#data">
        <div class="flex items-center justify-between">
            <!-- search and actions -->
            <div class="flex items-center gap-3 flex-1 flex-wrap">

                <!-- search form -->
                <div class="w-96">
                    {% if page.searchable %}
                        <form method="get"
                              action="{{ request.url }}"
                              hx-get="{{ request.url.remove_query_params(page.search_param) }}"
                        >
                            <input type="search"
                                   value="{{ search_term }}"
                                   name="{{ page.search_param }}"
                                   hx-get="{{ request.url.remove_query_params(page.search_param) }}"
                                   hx-trigger="keyup changed delay:300ms"
                                   placeholder="{{ page.search_placeholder }}"
                            >
                        </form>
                    {% endif %}
                </div>
                <!-- end search form -->


                {#                {% include 'ohmyadmin/list_page/filters.html' %}#}
            </div>
            <!-- end search and actions -->
            {#            {% include 'ohmyadmin/list_page/batch_actions.html' %}#}
        </div>

        <div id="data">
            {% include 'ohmyadmin/pages/table/_content.html' %}
        </div>
    </div>
{% endblock %}
