{% extends 'ohmyadmin/app.html' %}

{% block page_actions %}
    {% for action in page.get_page_actions(request) %}
        {{ action.render(request) }}
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="space-y-6"
         hx-target="#data"
         hx-indicator="#load-indicator"
         data-active-filters="{{ active_filter_count }}"
         x-data="{selectedFiltersCount: parseInt($el.dataset.activeFilters), showFilterBar: parseInt($el.dataset.activeFilters) > 0}"
         @filters-activate.window="selectedFiltersCount += 1"
         @filters-deactivate.window="selectedFiltersCount -= 1;"
    >
        <!-- search and actions -->
        <div class="flex items-center justify-between">
            {% include 'ohmyadmin/pages/table/_search_form.html' %}

            <div class="flex items-center gap-2">
                {% if filters %}
                    {% include 'ohmyadmin/pages/table/_filter_button.html' %}
                {% endif %}

                {% include 'ohmyadmin/pages/table/_batch_actions_form.html' %}
            </div>
        </div>
        <!-- end search and actions -->

        {% if filters %}
            <div id="filter-bar" hx-get hx-trigger="filters-reload" hx-target="this" class="flex items-center gap-2"
                 x-show="showFilterBar">
                {% include 'ohmyadmin/pages/table/_filters.html' %}
            </div>
        {% endif %}

        <div>
            <div class="-mb-[1px] htmx-indicator" id="load-indicator">
                <div class="progress progress-indeterminate progress-square progress-xs">
                    <div class="progress-bar"></div>
                </div>
            </div>
            <div id="data" hx-get hx-trigger="refresh-datatable from:body" hx-target="this">
                {% include 'ohmyadmin/pages/table/_content.html' %}
            </div>
        </div>
    </div>
{% endblock %}
