{% extends 'ohmyadmin/metrics/base.html' %}

{% block content %}
    {% if current_value %}
        <div class="text-2xl font-medium mb-2">
            {{ current_value }}
        </div>
    {% endif %}
    <div class="-mx-4 h-full -mb-4">
        <script type="application/json" id="{{ metric.slug }}">{{ series|tojson }}</script>
        <x-line-chart label="{{ metric.series_label }}"
                      color="{{ metric.series_color }}"
                      series="{{ metric.slug }}"
        ></x-line-chart>
    </div>
{% endblock %}
