{% extends 'ohmyadmin/metrics/base.html' %}

{% block content %}
    <div class="text-2xl h-10 font-medium mb-1.5" data-test="trend-current">
        {% if metric.show_current_value %}
            {{ value.current_value }}
        {% endif %}
    </div>
    <div class="{% if not metric.show_ticks %}-mx-4{% endif %} -mb-4">
        <o-metric-trend series="#trend-series-{{ metric.slug }}"
                        label="{{ metric.label }}"
                        color="{{ metric.color }}"
                        bg-color="{{ metric.background_color }}"
            {{- ' tooltip' if metric.show_tooltip else '' -}}
            {{- ' ticks' if metric.show_ticks else '' -}}
            {{- ' grid' if metric.show_grid else '' -}}
        ></o-metric-trend>
        <script type="application/json" id="trend-series-{{ metric.slug }}">{{ value.series|tojson }}</script>
    </div>
{% endblock %}
