:root {
    /*--o-color-red: theme('colors.red.500');*/
    /*--o-color-red-light: theme('colors.red.50');*/
    /*--o-color-blue: theme('colors.blue.500');*/
    /*--o-color-blue-light: theme('colors.blue.50');*/
    /*--o-color-yellow: theme('colors.yellow.500');*/
    /*--o-color-yellow-light: theme('colors.yellow.50');*/
    /*--o-color-orange: theme('colors.orange.500');*/
    /*--o-color-orange-light: theme('colors.orange.50');*/
    /*--o-color-amber: theme('colors.amber.500');*/
    /*--o-color-amber-light: theme('colors.amber.50');*/
    /*--o-color-green: theme('colors.green.500');*/
    /*--o-color-green-light: theme('colors.green.50');*/
    /*--o-color-pink: theme('colors.pink.500');*/
    /*--o-color-pink-light: theme('colors.pink.50');*/
    /*--o-color-teal: theme('colors.teal.500');*/
    /*--o-color-teal-light: theme('colors.teal.50');*/
    /*--o-color-lime: theme('colors.lime.500');*/
    /*--o-color-lime-light: theme('colors.lime.50');*/
    /*--o-color-emerald: theme('colors.emerald.500');*/
    /*--o-color-emerald-light: theme('colors.emerald.50');*/
    /*--o-color-sky: theme('colors.sky.500');*/
    /*--o-color-sky-light: theme('colors.sky.50');*/
    /*--o-color-indigo: theme('colors.indigo.500');*/
    /*--o-color-indigo-light: theme('colors.indigo.50');*/
    /*--o-color-purple: theme('colors.purple.500');*/
    /*--o-color-purple-light: theme('colors.purple.50');*/
    /*--o-color-rose: theme('colors.rose.500');*/
    /*--o-color-rose-light: theme('colors.rose.50');*/

    --o-color-gray-50: theme('colors.gray.50');
    --o-color-gray-100: theme('colors.gray.100');
    --o-color-gray-200: theme('colors.gray.200');
    --o-color-gray-300: theme('colors.gray.300');
    --o-color-gray-400: theme('colors.gray.400');
    --o-color-gray-500: theme('colors.gray.500');
    --o-color-gray-600: theme('colors.gray.600');
    --o-color-gray-700: theme('colors.gray.700');
    --o-color-gray-800: theme('colors.gray.800');
    --o-color-gray-900: theme('colors.gray.900');

    --o-color-red-50: theme('colors.red.50');
    --o-color-red-100: theme('colors.red.100');
    --o-color-red-200: theme('colors.red.200');
    --o-color-red-300: theme('colors.red.300');
    --o-color-red-400: theme('colors.red.400');
    --o-color-red-500: theme('colors.red.500');
    --o-color-red-600: theme('colors.red.600');
    --o-color-red-700: theme('colors.red.700');
    --o-color-red-800: theme('colors.red.800');
    --o-color-red-900: theme('colors.red.900');

    --o-color-yellow-50: theme('colors.yellow.50');
    --o-color-yellow-100: theme('colors.yellow.100');
    --o-color-yellow-200: theme('colors.yellow.200');
    --o-color-yellow-300: theme('colors.yellow.300');
    --o-color-yellow-400: theme('colors.yellow.400');
    --o-color-yellow-500: theme('colors.yellow.500');
    --o-color-yellow-600: theme('colors.yellow.600');
    --o-color-yellow-700: theme('colors.yellow.700');
    --o-color-yellow-800: theme('colors.yellow.800');
    --o-color-yellow-900: theme('colors.yellow.900');

    --o-color-amber-50: theme('colors.amber.50');
    --o-color-amber-100: theme('colors.amber.100');
    --o-color-amber-200: theme('colors.amber.200');
    --o-color-amber-300: theme('colors.amber.300');
    --o-color-amber-400: theme('colors.amber.400');
    --o-color-amber-500: theme('colors.amber.500');
    --o-color-amber-600: theme('colors.amber.600');
    --o-color-amber-700: theme('colors.amber.700');
    --o-color-amber-800: theme('colors.amber.800');
    --o-color-amber-900: theme('colors.amber.900');

    --o-color-green-50: theme('colors.green.50');
    --o-color-green-100: theme('colors.green.100');
    --o-color-green-200: theme('colors.green.200');
    --o-color-green-300: theme('colors.green.300');
    --o-color-green-400: theme('colors.green.400');
    --o-color-green-500: theme('colors.green.500');
    --o-color-green-600: theme('colors.green.600');
    --o-color-green-700: theme('colors.green.700');
    --o-color-green-800: theme('colors.green.800');
    --o-color-green-900: theme('colors.green.900');

    --o-color-lime-50: theme('colors.lime.50');
    --o-color-lime-100: theme('colors.lime.100');
    --o-color-lime-200: theme('colors.lime.200');
    --o-color-lime-300: theme('colors.lime.300');
    --o-color-lime-400: theme('colors.lime.400');
    --o-color-lime-500: theme('colors.lime.500');
    --o-color-lime-600: theme('colors.lime.600');
    --o-color-lime-700: theme('colors.lime.700');
    --o-color-lime-800: theme('colors.lime.800');
    --o-color-lime-900: theme('colors.lime.900');

    --o-color-emerald-50: theme('colors.emerald.50');
    --o-color-emerald-100: theme('colors.emerald.100');
    --o-color-emerald-200: theme('colors.emerald.200');
    --o-color-emerald-300: theme('colors.emerald.300');
    --o-color-emerald-400: theme('colors.emerald.400');
    --o-color-emerald-500: theme('colors.emerald.500');
    --o-color-emerald-600: theme('colors.emerald.600');
    --o-color-emerald-700: theme('colors.emerald.700');
    --o-color-emerald-800: theme('colors.emerald.800');
    --o-color-emerald-900: theme('colors.emerald.900');

    --o-color-blue-50: theme('colors.blue.50');
    --o-color-blue-100: theme('colors.blue.100');
    --o-color-blue-200: theme('colors.blue.200');
    --o-color-blue-300: theme('colors.blue.300');
    --o-color-blue-400: theme('colors.blue.400');
    --o-color-blue-500: theme('colors.blue.500');
    --o-color-blue-600: theme('colors.blue.600');
    --o-color-blue-700: theme('colors.blue.700');
    --o-color-blue-800: theme('colors.blue.800');
    --o-color-blue-900: theme('colors.blue.900');

    --o-color-sky-50: theme('colors.sky.50');
    --o-color-sky-100: theme('colors.sky.100');
    --o-color-sky-200: theme('colors.sky.200');
    --o-color-sky-300: theme('colors.sky.300');
    --o-color-sky-400: theme('colors.sky.400');
    --o-color-sky-500: theme('colors.sky.500');
    --o-color-sky-600: theme('colors.sky.600');
    --o-color-sky-700: theme('colors.sky.700');
    --o-color-sky-800: theme('colors.sky.800');
    --o-color-sky-900: theme('colors.sky.900');

    --o-color-teal-50: theme('colors.teal.50');
    --o-color-teal-100: theme('colors.teal.100');
    --o-color-teal-200: theme('colors.teal.200');
    --o-color-teal-300: theme('colors.teal.300');
    --o-color-teal-400: theme('colors.teal.400');
    --o-color-teal-500: theme('colors.teal.500');
    --o-color-teal-600: theme('colors.teal.600');
    --o-color-teal-700: theme('colors.teal.700');
    --o-color-teal-800: theme('colors.teal.800');
    --o-color-teal-900: theme('colors.teal.900');

    --o-color-pink-50: theme('colors.pink.50');
    --o-color-pink-100: theme('colors.pink.100');
    --o-color-pink-200: theme('colors.pink.200');
    --o-color-pink-300: theme('colors.pink.300');
    --o-color-pink-400: theme('colors.pink.400');
    --o-color-pink-500: theme('colors.pink.500');
    --o-color-pink-600: theme('colors.pink.600');
    --o-color-pink-700: theme('colors.pink.700');
    --o-color-pink-800: theme('colors.pink.800');
    --o-color-pink-900: theme('colors.pink.900');

    --o-color-indigo-50: theme('colors.indigo.50');
    --o-color-indigo-100: theme('colors.indigo.100');
    --o-color-indigo-200: theme('colors.indigo.200');
    --o-color-indigo-300: theme('colors.indigo.300');
    --o-color-indigo-400: theme('colors.indigo.400');
    --o-color-indigo-500: theme('colors.indigo.500');
    --o-color-indigo-600: theme('colors.indigo.600');
    --o-color-indigo-700: theme('colors.indigo.700');
    --o-color-indigo-800: theme('colors.indigo.800');
    --o-color-indigo-900: theme('colors.indigo.900');

    --o-color-rose-50: theme('colors.rose.50');
    --o-color-rose-100: theme('colors.rose.100');
    --o-color-rose-200: theme('colors.rose.200');
    --o-color-rose-300: theme('colors.rose.300');
    --o-color-rose-400: theme('colors.rose.400');
    --o-color-rose-500: theme('colors.rose.500');
    --o-color-rose-600: theme('colors.rose.600');
    --o-color-rose-700: theme('colors.rose.700');
    --o-color-rose-800: theme('colors.rose.800');
    --o-color-rose-900: theme('colors.rose.900');

    --o-border-color: var(--o-color-gray-200);

    --o-spacing-0_5: theme('spacing[0.5]');
    --o-spacing-1: theme('spacing.1');
    --o-spacing-1_5: theme('spacing[1.5]');
    --o-spacing-2: theme('spacing.2');
    --o-spacing-2_5: theme('spacing[2.5]');
    --o-spacing-3: theme('spacing.3');
    --o-spacing-4: theme('spacing.4');
    --o-spacing-5: theme('spacing.5');
    --o-spacing-6: theme('spacing.6');
    --o-spacing-8: theme('spacing.8');
    --o-spacing-10: theme('spacing.10');
    --o-spacing-12: theme('spacing.12');
    --o-spacing-16: theme('spacing.16');
    --o-spacing-20: theme('spacing.20');
    --o-spacing-24: theme('spacing.24');

    --o-line-height-5: theme('lineHeight.4');
    --o-line-height-5_5: 1.375rem;
    --o-line-height-6: theme('lineHeight.6');
    --o-line-height-8: theme('lineHeight.8');

    --o-height-0_5: theme('height[0.5]');
    --o-height-1: theme('height.1');
    --o-height-2: theme('height.2');
    --o-height-3: theme('height.3');
    --o-height-4: theme('height.4');
    --o-height-5: theme('height.5');
    --o-height-6: theme('height.6');
    --o-height-8: theme('height.8');
    --o-height-10: theme('height.10');
    --o-height-12: theme('height.12');
    --o-height-16: theme('height.16');
    --o-height-20: theme('height.20');

    --o-radius-sm: theme('borderRadius.sm');
    --o-radius-md: theme('borderRadius.md');
    --o-font-size-xs: 0.625rem;
    --o-font-size-sm: theme('fontSize.xs');
    --o-font-size: theme('fontSize.sm');
    --o-font-size-lg: theme('fontSize.base');
    --o-font-size-xl: theme('fontSize.lg');
    --o-font-size-2xl: theme('fontSize.xl');
    --o-font-size-3xl: theme('fontSize.2xl');
    --o-font-size-4xl: theme('fontSize.3xl');
    --o-font-size-5xl: theme('fontSize.4xl');
    --o-font-size-6xl: theme('fontSize.5xl');

    --o-font-weight-normal: theme('fontWeight.normal');
    --o-font-weight-medium: theme('fontWeight.medium');
}
