@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "colors.css";


:root {
    --o-color-scheme: light;
    --o-background: white;
    --o-font-size: 14px;
    --o-font-family: "Inter", sans-serif;
    --o-text-color: var(--o-color-gray-900);
}

html[data-theme="dark"] {
    --o-color-scheme: dark;
    --o-text-color: white;
    --o-background: var(--o-color-gray-900);
}
