:root {
    --o-sidebar-width: 280px;
    --o-sidebar-background: var(--o-color-gray-100);
    --o-sidebar-border-color: var(--o-color-gray-200);
    --o-sidebar-item-background-hover: var(--o-color-gray-200);
    --o-sidebar-item-background-active: var(--o-color-gray-300);
    --o-sidebar-item-radius: var(--o-radius-md);
}

.page {
    height: 100%;
    overflow: hidden;
    display: flex;
}

.sidebar {
    width: var(--o-sidebar-width);
    background: var(--o-sidebar-background);
    border-right: 1px solid var(--o-sidebar-border-color);
    padding: var(--o-spacing-2);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    padding: var(--o-spacing-3);
    gap: var(--o-spacing-1_5);
    font-weight: 600;
    font-size: var(--o-font-size-xl);
    line-height: var(--o-line-height-5);
}

.sidebar .logo > img, .sidebar .logo > svg {
    height: var(--o-spacing-6);
}

.sidebar > nav > * {
    margin-bottom: var(--o-spacing-0_5);
}

.sidebar > nav a, .sidebar > nav .menu-item {
    display: flex;
    align-items: center;
    font-size: var(--o-font-size);
    padding: var(--o-spacing-1) var(--o-spacing-2);
    gap: var(--o-spacing-1);
    line-height: var(--o-line-height-6);
    border-radius: var(--o-sidebar-item-radius);
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    color: var(--o-primary-text);

    & > svg {
        height: var(--o-spacing-5);
    }

    &:hover {
        background: var(--o-sidebar-item-background-hover);
    }

    &:active {
        background: var(--o-sidebar-item-background-active);
    }
}

.sidebar .user-profile {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    padding: var(--o-spacing-2) var(--o-spacing-3);
    gap: var(--o-spacing-3);
    border-radius: var(--o-sidebar-item-radius);
}

.sidebar .user-profile:hover {
    background: var(--o-sidebar-item-background-hover);
}

.sidebar .user-profile:active {
    background: var(--o-sidebar-item-background-active);
}
