.user-profile {
    border-radius: var(--o-sidebar-item-radius);
}

.user-profile:hover {
    background: var(--o-sidebar-item-background-hover);
}

.user-profile:active {
    background: var(--o-sidebar-item-background-active);
}
