.table-head-cell {
}

.table-head-cell-left {
    text-align: left;
}

.table-head-cell-center {
    text-align: center;
}

.table-head-cell-right {
    text-align: right;
}

.table-sortable-head-cell {
    @apply flex items-center gap-2 w-full h-full whitespace-nowrap;
}

.table-sortable-head-cell.table-head-cell-left {
    @apply justify-start;
}

.table-sortable-head-cell.table-head-cell-center {
    @apply justify-center;
}

.table-sortable-head-cell.table-head-cell-right {
    @apply justify-end;
}

.table-sort-control {
    @apply text-gray-400 flex items-center;
}

.table-sort-index {
    @apply text-sm text-accent-600 ml-1;
}

.table-cell-left {
    @apply text-left flex items-center justify-start;
}

.table-cell-center {
    @apply text-center flex items-center justify-center;
}

.table-cell-right {
    @apply text-right flex items-center justify-end;
}
