{% for filter in filters %}
    {% if filter.is_active(request) %}
        {{ filter.render_indicator(request) }}
    {% else %}
        <div class="inline-block relative" x-data="{open: false}">
            <button class="btn" @click="open = !open">
                <div>{{ filter.label }}</div>
                <span class="text-gray-500">{{ tabler_icon('chevron-down') }}</span>
            </button>
            <form
                method="get"
                action="{{ request.url }}"
                class="shadow-lg border border-gray-200 rounded-md bg-white p-3 absolute top-0 left-0 w-64 translate-y-10"
                x-show="open" @click.outside="open = false">

                {{ filter.render_form_field(request) }}

                <div class="mt-5">
                    <button class="btn btn-primary" type="submit">{{ _('Apply') }}</button>
                </div>
                {% for key, value in request.query_params.items() %}
                    <input type="hidden" name="{{ key }}" value="{{ value }}">
                {% endfor %}
            </form>
        </div>
    {% endif %}
{% endfor %}
