<!-- search form -->
<div class="w-96">
    {% if resource.searchable %}
        <form
            x-data="searchForm('{{ resource.search_param }}', '{{ search_term }}')"
            method="get"
            action="{{ request.url }}"
            @submit.prevent="onSubmit"
        >
            <input
                x-model="searchQuery"
                type="search" name="{{ resource.search_param }}" value="{{ search_term }}"
                placeholder="{{ search_placeholder }}">
        </form>
    {% endif %}
</div>
<!-- end search form -->
