<table>
    <thead>
    <tr>
        {% if batch_actions %}
            <th class="w-8">
                <input type="checkbox" name="selected" @click="toggleSelectAll">
            </th>
        {% endif %}
        {% for cell in header %}
            <th class="text-left p-2">
                {% if cell.sortable %}
                    <a href="{{ cell.url }}" class="flex gap-2 items-center">
                        <span>{{ cell.text }}</span>
                        {% if cell.sorted == 'asc' %}
                            {{ tabler_icon('arrow-narrow-down') }}
                        {% elif cell.sorted == 'desc' %}
                            {{ tabler_icon('arrow-narrow-up') }}
                        {% else %}
                            {{ tabler_icon('arrows-sort') }}
                        {% endif %}

                        {% if cell.index %}
                            <span class="text-sm">{{ cell.index }}</span>
                        {% endif %}
                    </a>
                {% else %}
                    {{ cell.text }}
                {% endif %}
            </th>
        {% endfor %}
        {% if row_actions %}
            <th>
                <div class="text-right">
                    {{ _('Actions') }}
                </div>
            </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for object in objects %}
        <tr x-bind:class="{'selected': selected.includes('{{ pk(object) }}')}">
            {% if batch_actions %}
                <td>
                    <input type="checkbox" x-model="selected" value="{{ pk(object) }}">
                </td>
            {% endif %}
            {% for column in cells %}
                <td>
                    {{ column.render(request, object) }}
                </td>
            {% endfor %}
            {% if row_actions %}
                <td>
                    <div class="flex items-center gap-2 justify-end row-actions">
                        {% for row_action in row_actions %}
                            {{ row_action.render(request, pk(object), object) }}
                        {% endfor %}
                    </div>
                </td>
            {% endif %}
        </tr>
    {% else %}
        <tr>
            <td colspan="9999" class="text-center">
                {{ _('No results.') }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
