<table>
    <thead>
    <tr>
        {% if batch_actions %}
            <th class="w-8">
                <input type="checkbox" name="selected" @click="toggleSelectAll">
            </th>
        {% endif %}
        {% for cell in header %}
            <th class="text-left p-2">
                {% if cell.sortable %}
                    <a href="{{ cell.url }}" class="flex gap-2 items-center">
                        <span>{{ cell.text }}</span>
                        {% if cell.sorted == 'asc' %}
                            {{ tabler_icon('arrow-narrow-down') }}
                        {% elif cell.sorted == 'desc' %}
                            {{ tabler_icon('arrow-narrow-up') }}
                        {% else %}
                            {{ tabler_icon('arrows-sort') }}
                        {% endif %}

                        {% if cell.index %}
                            <span class="text-sm">{{ cell.index }}</span>
                        {% endif %}
                    </a>
                {% else %}
                    {{ cell.text }}
                {% endif %}
            </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for object in objects %}
        <tr x-bind:class="{'selected': selected.includes('{{ pk(object) }}')}">
            {% if batch_actions %}
                <td>
                    <input type="checkbox" x-model="selected" value="{{ pk(object) }}">
                </td>
            {% endif %}
            {% for column in cells %}
                <td>
                    {% set link = field_link(column, object) %}
                    {% if link %}
                        <a href="{{ link }}">
                            {{ column(object) }}
                        </a>
                    {% else %}
                        {{ column(object) }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
