{% import 'ohmyadmin/lib/buttons.html' as lib %}

<button x-data="{open: false}" class="relative hover:bg-slate-200 rounded px-2 py-0.5" @click="open = !open">
    {{ icon('dots') }}
    <div
        x-show="open"
        @click.outside="open = false"
        class="absolute right-0 bg-white shadow-lg border border-slate-200 py-1 rounded-md w-48 z-10">

        <ul class="space-y-1">
            {% for action in action.children %}
                <li>
                    <a href="{{ action.url }}"
                       class="rounded px-2 py-1.5 flex items-center gap-3 hover:bg-slate-100 active:bg-slate-200">
                        {{ icon(action.icon) if action.icon else '' }} {{ action.text }}
                    </a>
                </li>
            {% endfor %}
        </ul>

    </div>
</button>
