{% import 'ohmyadmin/icons.html' as icons %}
{% import 'ohmyadmin/components.html' as components %}

{% macro list_item(request, component) %}
    <o-repeated-input-item-controller>
        <div class="repeated-input-item">
            <div class="w-full">
            {{ components.render_component(request, component) }}
                </div>
            <button type="button" class="btn btn-icon btn-text" data-repeated="remove-item">
                {{ icons.trash() }}
            </button>
        </div>
    </o-repeated-input-item-controller>
{% endmacro %}

<o-repeated-controller>
    <div class="repeated-input">
        <div class="repeated-input-set">
            {% for subfield in fields %}
                {{ list_item(request, subfield) }}
            {% endfor %}
        </div>
        <div>
            <button type="button" class="btn btn-text text-blue-700" data-repeated="add-item">
                {{ icons.plus() }} {{ _('Add a new item', domain='ohmyadmin') }}
            </button>
        </div>
        <template data-repeated="template">
            {{ list_item(request, component.template_field) }}
        </template>
    </div>
</o-repeated-controller>
