{% import 'ohmyadmin/components.html' as components %}
<table>
    <thead>
    {{ components.render_component(request, component.header) }}
    </thead>
    <tbody>
    {% for row in component.rows %}
        {{ components.render_component(request, row) }}
    {% endfor %}
    </tbody>
    {#    <tbody>#}
    {#    {% for item in component.items %}#}
    {#        {% set cells = component.build_cells(item) %}#}
    {#        <tr>#}
    {#            {% for cell in cells %}#}
    {#                {{ components.render_component(request, cell) }}#}
    {#            {% endfor %}#}
    {#        </tr>#}
    {#    {% else %}#}
    {#        <tr>#}
    {#            <td colspan="9999" class="text-center text-muted">{{ _('No data.') }}</td>#}
    {#        </tr>#}
    {#    {% endfor %}#}
    {#    </tbody>#}
    {#    {% if component.summary %}#}
    {#        <tfoot>#}
    {#        <tr>#}
    {#            {% for summary_cell in component.summary %}#}
    {#                {{ components.render_component(request, summary_cell) }}#}
    {#            {% endfor %}#}
    {#        </tr>#}
    {#        </tfoot>#}
    {#    {% endif %}#}
</table>
